.cards{
  margin-top: 30rem;
  max-width: 90%;

.each-slide{
  width: 70%;
  height: 25rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  .card-front{
    height: 25rem;
  }
}
}