.body{
    display: flex;
    justify-content: center;
    margin-top: 30%;
    .card{
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    img{
        width: 100%;
        z-index: 10;
        border-radius: 10px;
    }
    .container{
        position: relative;
        text-align: center;
        
    }
}
}
